# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv
env

# Setuptools files
*.egg-info

# vscode
.vscode

# database file (not sure yet what its good for)
db.sqlite3

# Ignore migrations
migrations

# DS
.DS_Store

# static files
pkpdapp/static
