{% extends "base/base.html" %}
{% load static %}

{% block main_content %}
<section class="tiles">
	<article class="pddata">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
        {% if user.is_authenticated %}
            <a href="#subtask">
                <h3>Get Dataset</h3>
                <div class="content">
                    <p>Get your pharmacodynamic dataset from previous uploads.</p>
                </div>
            </a>
        {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">
                <h3>Get Dataset</h3>
                <div class="content">
                    <p>Get your pharmacodynamic dataset from previous uploads.</p>
                </div>
            </a>
        {% endif %}
	</article>
    <article class="pddata">
		<span class="image">
			<img src="{% static 'images/pic03.jpg' %}" alt="" />
		</span>
		<a href="#subtask">
			<h3>Upload Dataset</h3>
			<div class="content">
				<p>Upload your pharmacodynamic dataset for analysis.</p>
			</div>
		</a>
	</article>
</section>

<div id="subtask">
    <h2> Upload Dataset</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    <label>
        <b>Study Name:</b>{{ form.file_name }}
    </label>
    <label class="file">
        <input type="file" id="file">
        <span class="file-custom"></span>
    </label>
    <div align="right">
        <input class="submitButton2" type="submit" value="Upload">
    </div>
</form>
</div>
{% endblock %}